*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:90%;
    margin: 0 auto; 
}
header{
    background: #199a80;
    height: fit-content;
    max-width:100%;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
nav span{color: white;font-size: 30px;}
nav ul{}
nav ul li{display: inline-block;padding: 10px 10px;}
nav ul li a{color: white;text-decoration: none;}

/* banner-section */
.banner-section{
    background-image: url(./images/header-bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
    background-position:center center;
    height:fit-content;
    max-width: 100%;
    text-align: center;
}
.banner-title{

}
.banner-section .container{color: honeydew;line-height: 70px;}
.banner-section .container b{font-size: 60px;}
.banner-section .container p{font-size: 23px;}
.banner-section .container a{color: white;text-decoration: none;font-size: 18px;border: 3px solid;padding: 10px 25px;border-radius: 5px;}
/* banner-section-end */