/* ---------------------header-section-start------------------ */
/* ---------------------header-section-start------------------ */
@media all and (max-width: 1600px) {}
@media all and (max-width: 1400px) {}
@media all and (max-width: 1200px) {
     nav{

    }
}
@media all and (max-width: 992px) {
     nav ul li a {
          font-size: 15px;
      }
      nav span{
           /* width: 100%; */
      }
      nav ul{
           width: 100%;
           text-align: center;
      }
      nav{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
      }
}
@media all and (max-width: 850px) {
     nav ul li a {
          font-size: 12px;
      }
      nav span {
          color: white;
          font-size: 25px;
      }
}
@media all and (max-width: 768px) {
     nav span{
          text-align: center;
     }
     nav{
          flex-wrap: wrap;
     }
}
@media all and (max-width: 668px) {
     nav ul li a {
          font-size: 10px;
      }
      nav span {
          font-size: 20px;
          padding: 5px 0;
      }
      nav{
           
      }
      nav ul{
           padding: 5px 0;
      }
}
@media all and (max-width: 500px) {
     nav ul li{
          padding: 5px 5px;
     }
}
@media all and (max-width: 420px) {
     nav ul li a{
          font-size: 7px;
     }
}
@media all and (max-width: 380px) {}
/* --------------------header-section-end--------------------- */
/* --------------------header-section-end--------------------- */
/*  */
/* ------------banner-section start--------------- */
/* ------------banner-section start--------------- */
@media all and (max-width: 1600px) {}
@media all and (max-width: 1400px) {}
@media all and (max-width: 1200px) {
     .banner-section{
          padding: 200px 0;
     }
     .banner-section .container b{
          font-size: 55px;
     }
     .banner-section .container a{
          font-size: 16px;
     }
}
@media all and (max-width: 992px) {
     .banner-section{
          padding: 180px 0;
     }
     .banner-section .container b{
          font-size: 50px;
     }
     .banner-section .container a{
          font-size: 14px;
     }
}
@media all and (max-width: 768px) {
     .banner-section{
          padding: 150px 0;
     }
     .banner-section .container b{
          font-size: 45px;
     }
     .banner-section .container p{
          font-size: 20px;
     }
     .banner-section .container a{
          font-size: 12px;
     }
}
@media all and (max-width: 668px) {
     .banner-section{
          padding: 120px 0;
     }
     .banner-section .container b{
          font-size: 40px;
     }
     .banner-section .container p{
          font-size: 18px;
     }
     .banner-section .container a{
          font-size: 10px;
     }
}
@media all and (max-width: 500px) {
     .banner-section{
          padding: 100px 0;
          
     }
     .banner-section .container b{
          font-size: 35px;
     }
     .banner-section .container p{
          font-size: 16px;
     }
     .banner-section .container a{
          font-size: 10px;
     }
}
@media all and (max-width: 420px) {
     .banner-section{
          padding: 80px 0;
     }
     .banner-section .container b{
          font-size: 30px;
     }
     .banner-section .container p{
          font-size: 14px;
     }
}
@media all and (max-width: 380px) {
     .banner-section{
          padding: 50px 0;
     }
     .banner-section .container b{
          font-size: 25px;
     }
     .banner-section .container p{
          font-size: 12px;
     }
}
/* --------------banner-section-end------------ */
/* --------------banner-section-end------------ *
